.title { 

				grid-area: title;
				background-color: #ff7900;
				display: flex;
				justify-content: center;
				align-items: center;
				font-size: 40px;
				color: White;
				border-bottom: 4px solid white;
}

.iconbox{
				grid-area: iconbox;
				display: flex;
				justify-content: flex-end;
				margin: 2em;
}

.clear {clear: both;}

.clearfix::after {

				content: "";
				clear: both;
				display: table;

}

.footer { 

				grid-area: footer;
				background-color: #ff7900;
				display: flex;
				align-items: center;
				justify-content: center;
				font-size: 20px;
				color: white;

}

#scale { 

				width : 100%;
				height : auto;
				border-radius: 5px;
			  	cursor: pointer;
			  	transition: 0.3s;

}


.container3 {  

				display: grid;
			  	grid-template-columns: 0.5fr 5fr 2fr 0.5fr;
			  	grid-template-rows: 10em 20em 1fr 20em 10em;
			  	grid-column-gap: 1.5em;
			  	grid-auto-flow: column;
			  	grid-template-areas:
			    "title title title title "
			    ".     .     .     .     "
			    ".   gallery gallery.    "
			    ".     .     .     .     "
			    "footer footer footer footer";
			    background-color: #78d5d7;
			}

			.gallery{

				grid-area: gallery;
				display: grid;
				grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
				grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
				grid-template-areas: 
				"i1  i2  i3  i4  i5"
				"i6  i7  i8  i9  i10"
				"i11 i12 i13 i14 i15"
				"i16 i17 i18 i19 i20"
				"i21 i22 i23 i24 i25"
				"i26 i27 i28 i29 i30"
				".   i31 i32 i33 .  ";
				grid-gap: 1em;
			}

			.i1{

				grid-area: i1;
			}

			.i2{

				grid-area: i2;
			}

			.i3{

				grid-area: i3;
			}

			.i4{

				grid-area: i4;
			}

			.i5{

				grid-area: i5;
			}

			.i6{

				grid-area: i6;
			}

			.i7{

				grid-area: i7;
			}

			.i8{

				grid-area: i8;
			}

			.i9{

				grid-area: i9;
			}

			.i10{

				grid-area: i10;
			}

			.i11{

				grid-area: i11;
			}

			.i12{

				grid-area: i12;
			}

			.i13{

				grid-area: i13;
			}

			.i14{

				grid-area: i14;
			}

			.i15{

				grid-area: i15;
			}

			.i16{

				grid-area: i16;
			}

			.i17{

				grid-area: i17;
			}

			.i18{

				grid-area: i18;
			}

			.i19{

				grid-area: i19;
			}

			.i20{

				grid-area: i20;
			}

			.i21{

				grid-area: i21;
			}

			.i22{

				grid-area: i22;
			}

			.i23{

				grid-area: i23;
			}

			.i24{

				grid-area: i24;
			}

			.i25{

				grid-area: i25;
			}

			.i26{

				grid-area: i26;
			}

			.i27{

				grid-area: i27;
			}

			.i28{

				grid-area: i28;
			}

			.i29{

				grid-area: i29;
			}

			.i30{

				grid-area: i30;
			}

			.i31{

				grid-area: i31;
			}

			.i32{

				grid-area: i32;
			}

			.i33{

				grid-area: i33;
			}

#scale:hover {opacity: 0.7;}

			/* The Modal (background) */
			.modal {
			  display: none; /* Hidden by default */
			  position: fixed; /* Stay in place */
			  z-index: 1; /* Sit on top */
			  padding-top: 100px; /* Location of the box */
			  left: 0;
			  top: 0;
			  width: 100%; /* Full width */
			  height: 100%; /* Full height */
			  overflow: auto; /* Enable scroll if needed */
			  background-color: rgb(0,0,0); /* Fallback color */
			  background-color: rgba(0,0,0,0.9); /* Black w/ opacity */
			}

			/* Modal Content (image) */
			.modal-content {
			  margin: auto;
			  display: block;
			  width: 80%;
			  max-width: 700px;
			}

			/* Caption of Modal Image */
			#caption {
			  margin: auto;
			  display: block;
			  width: 80%;
			  max-width: 700px;
			  text-align: center;
			  color: #ccc;
			  padding: 10px 0;
			  height: 150px;
			}

			/* Add Animation */
			.modal-content, #caption {  
			  -webkit-animation-name: zoom;
			  -webkit-animation-duration: 0.6s;
			  animation-name: zoom;
			  animation-duration: 0.6s;
			}

			@-webkit-keyframes zoom {
			  from {-webkit-transform:scale(0)} 
			  to {-webkit-transform:scale(1)}
			}

			@keyframes zoom {
			  from {transform:scale(0)} 
			  to {transform:scale(1)}
			}

			/* The Close Button */
			.close {
			  position: absolute;
			  top: 15px;
			  right: 35px;
			  color: #f1f1f1;
			  font-size: 40px;
			  font-weight: bold;
			  transition: 0.3s;
			}

			.close:hover,
			.close:focus {
			  color: #bbb;
			  text-decoration: none;
			  cursor: pointer;
			}

			/* 100% Image Width on Smaller Screens */
			@media only screen and (max-width: 700px){
			  .modal-content {
			    width: 100%;
			  }
			}
